@import "../../../variables.scss";

.register {
    max-width: 300px;
    padding-top: 52px;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    p {
        color: $mainColor;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
    }
    .form {
        padding-top: 14px;
        display: flex;
        flex-direction: column;
    }
    input {
        width: 300px;
        padding: 12px;
        outline: $secondaryColor;
        border-radius: 5px;
        border: 1px solid #eaeaea;
        &:not(:last-child) {
            margin-bottom: 12px;
        }
        &:focus {
            border: 1px solid $secondaryColor;
        }
    }
    .forgot {
        color: $secondaryColor;
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        padding-bottom: 27px;
        text-align: end;
    }
    button {
        height: 45px;
        display: flex;
        justify-content: center;
        color: $tertiaryColor;
        font-size: 16px;
        font-weight: 700;
        line-height: 16px;
    }
    .passwordContainer {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        img {
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;
        }
    }
    .inputErr {
        border: 1px solid red;
        outline: red !important;
        margin-bottom: 5px !important;
    }

    .errorText {
        color: red;
    }
}
